<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.com.gs3.loyaltycustomer" >

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zenzest_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".LoyaltyCustomerApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".models.services.DiscoverPeersOnBackgroundService"
            android:enabled="true"></service>

        <service
            android:name=".models.services.DownloadUpdatesFromWebService"
            android:enabled="true"></service>

        <service
            android:name=".models.services.DownloadUpdatesFromWebIntentService"
            android:enabled="true"></service>

        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_profile"></activity>

        <activity
            android:name=".TransactionActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_transaction"></activity>

        <activity
            android:name=".RewardsActivity"
            android:screenOrientation="portrait"
            android:label="Rewards"></activity>

    </application>

</manifest>
